.sidenav-background {
	position: fixed !important;
	overflow: "auto" !important;
}

.sidenav---sidenav---_2tBP {
	background: linear-gradient(#ff8866, #ff65a3) !important;
	position: fixed !important;
	overflow: "auto" !important;
}
.page-not-found {
	text-align: center;
}
.sidenav---sidenav-nav---3tvij
	.sidenav---sidenav-navitem---uwIJ-:hover
	.sidenav---navitem---9uL5T
	.sidenav---navicon---3gCRo
	*,
.sidenav---sidenav-nav---3tvij
	.sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
	.sidenav---navitem---9uL5T
	.sidenav---navicon---3gCRo
	* {
	color: white !important;
	background-color: transparent !important;
}

.fa-power-off,
.fa-archive,
.fa-arrows-alt,
.fa-barcode,
.fa-building,
.fa-bullseye,
.fa-user {
	font-size: 23px;
}
.sidenav-background .fa-tooth {
	font-size: 23px;
}
.sidenav-background .fa-clock {
	font-size: 23px;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
	min-width: 0px !important;
}
